# Expresiones regulares

## Caso de estudio: Expresiones regulares para fechas

### Variaciones de fechas para 23 de Octubre de 2002
23-10-2002

23/10/2002

23/10/02

10/23/2002

23 Oct 2002

23 de Octubre de 2002

Oct 23, 2002

Octubre 23, 2002

In [33]:
import re
dateStr = '23-10-002\n23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 de Octubre de 2002\nOct 23, \
2002\nOctubre 23, 2002\n'
print (dateStr)

23-10-002
23-10-2002
23/10/2002
23/10/02
10/23/2002
23 Oct 2002
23 de Octubre de 2002
Oct 23, 2002
Octubre 23, 2002

### Primera versión: Expresiones regulares para fechas (números)
23-10-002

23-10-2002

23/10/2002

23/10/02

10/23/2002

['23-10-002', '23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

### Agregamos rango de dígitos

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

### Segunda versión: Expresiones regulares para fechas (letras) - Agregamos alternancia

23 Oct 2002

23 de Octubre de 2002

Oct 23, 2002

Octubre 23, 2002

['Oct']

### Se agrega ?: para que no capture el grupo

['23 Oct 2002']

### Agregamos la palabra "de" opcional

['23 Oct 2002', '23 de Octubre de 2002']

### Cambiamos \d{2}  por (?:\d{2} )? para hacerlo opcional, y agregamos (?:\d{2}, )? para capturar dato del dia al final

['23 Oct 2002', '23 de Octubre de 2002', 'Oct 23, 2002', 'Octubre 23, 2002']

### Tercera versión: ahora tenemos en el día un solo digito, que pasa con nuestras expresiones regulares?

1-10-2002

1 Oct 2001

In [34]:
dateStr = '23-10-002\n23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 de Octubre de 2002\nOct 23, \
2002\nOctubre 23, 2002\n1-10-2001\n1 Oct 2001'
print (dateStr)

23-10-002
23-10-2002
23/10/2002
23/10/02
10/23/2002
23 Oct 2002
23 de Octubre de 2002
Oct 23, 2002
Octubre 23, 2002
1-10-2001
1 Oct 2001

### No captura las fechas correctamente

['23 Oct 2002', '23 de Octubre de 2002', 'Oct 23, 2002', 'Octubre 23, 2002', 'Oct 2001'] ['23-10-00', '23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

### Agregamos rango de 1 a 2 en el digito que representa el día

### Agregamos rango de 1 a 2 en el digito que representa el día